@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


@theme {  
    --font-roboto: "Roboto", "sans-serif"; 
    --font-noto: "Noto Sans", Arial;
    --animate-lopin: lopin 3.5s ease-in-out infinite;
      @keyframes lopin {    0% {  
        opacity: 1  } 

        5%{
        
          opacity: 1   }
        }

    --animate-hideout: hideout 3600ms ease-in-out infinite;
      @keyframes hideout { 
           0% {
                  transform: translate(0px, 200px); opacity: 0;
                   }

                   30% {
                    transform: translate(0,0) ; opacity: 1;
                   }
                   80% {
                    transform: translate(0,0); opacity: 1;
                   }
                  
                    98%{ 
                    transform: translate(0px,-200px); 
                  }
                  100%{
                    opacity: 0;
                  }
        }
}
body{
  display: inline;
}