@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@theme {  
    --font-roboto: "Roboto", "sans-serif"; 
    --font-noto: "Noto Sans", "sans-serif";
    --font-rale: "Raleway", "sans-serif";
    --animate-lopin: lopin 3500ms ease-in-out 1;
      @keyframes lopin {    0% {  
        opacity: 1  } 

        5%{
        
          opacity: 1   }
        }

    --animate-hideout: hideout 3500ms ease-in-out infinite;
      @keyframes hideout { 
        0% {
          transform: translate(0px, 200px); opacity: 0;
           }10% {
            transform: translate(0px, 130px); opacity: 0;
             }

                   20% {
                    transform: translate(0,-10px) ; opacity: 1;
                   }
                   80% {
                    transform: translate(0,-10px); opacity: 1;
                   }
                  
                    98%{ 
                    transform: translate(0px,-200px); opacity: 0;
                  }
                  100%{
                    opacity: 0;transform:translate(0px, 200px);
                  }
        }
}